<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <title>Quiz</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
   <h2>Autor: Aitor Molinero</h2>
   <p><img src="/images/lobezno.jpg" /></p>
</body>
</html>

